#burger_img {
  margin: auto;
}

body {
  margin: 0px;
  padding: 0px;
  background: #faebd7;
}

#header {
  margin: 0px;
  background: #ffcc88;
  padding: 5px;
  font-size: 25px;
  font-weight: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
    padding: 5px;
    margin: 5px;
    
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  